		body {
			background: #0b0921;
			color:#e9e4f5;
			font-size: 14px;
			text-align: center;
			font-family: monospace;
		}
		
		.doc_header{
			width: 75%;
			/* line width, line type color */
			border: 5px solid black;
			margin-bottom: 30px;
			margin-left: 30px;
			
		}
		.doc_heading1{
            background-color: #4e18a3;
			color:#e9e4f5;
			text-decoration: underline;
			font-size: 50px;
			margin: 30px;
		}
		
		.doc_heading2{
			font-family: serif;
		}
		
		.doc_body{
			display: inline-block;
			text-align: left;
			
		}
		
		.interest_list{
		display: inline-block;
		text-align: left;
		}
		
		@keyframes artfade {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}
		
		.art{
		width: 15%;
		border: 5px solid #c93855;
		border-radius:10%;
		margin: 10px;
		padding: 5px;
		animation: artfade 3s;
		}
		
		.circle_border{
		width: 15%;
		border: 5px solid #c93855;
		border-radius:100%;
		margin: 10px;
		padding: 5px;
		animation: artfade 3s;
		}
		
		.drawings{
		display: flex;
		justify-content: center;
		margin: 20px;
		}
		
		.flex_container{
			display: flex;
			justify-content: center;
			flex-direction: row;
			
		}
		
		.flex_container div {
			background-color: #DDDDDD;
			padding: 10px;
			margin: 10px;
			border: 1px solid black;
			border-radius: 15px;
			background: linear-gradient(silver, white);
			
		}
		
		.video_container{
			display: flex;
			justify-content: center;
			margin: 20px;
			width: 560px;
			height: 360px;
			frameborder: 0;
		}
		
		.video_container div{
			width: 560px;
			height: 360px;
			frameborder: 0;
		}
		
		table {
			background-image: url('../images/stars.jpg');
			background-repeat: no-repeat;
			border: 2px solid #5be4df;
			padding: 20px;
			margin: 15px;
		}
		
		tr {
			background-color: black;
		}
		
		td {
			background-color: black;
			background: linear-gradient(#2e2b34, #252274);
			padding: 10px;
			text-align: center;
		}
		
		th {
			background-color: #4e18a3;
		}
		
		.bg_image{
			background-image: url('../images/stars.jpg');
			background-repeat: no-repeat;
		}
		
		caption{
			font-family: serif;
			font-size: 30px;
			
		}
		
		form{
			background-image: url('../images/stars.jpg');
			background-repeat: no-repeat;
			border: 2px solid #5be4df;
			padding: 20px;
			margin: 15px;
		}
		
		a {
			color: #7dcde3;
			text-decoration: none;
			text-shadow: 0px 0px black;
		}
			
		
		/*visited link*/
		a:visited {
			color: #8d3af2;
			}
		/*mouse/cursor hoverong over*/
		a:hover {
			/*	color: crimson;*/
			text-decoration: underline;
		}
		/*About to receive input*/
		a:focus {
			color: #bf5a72;
		}
		/*receiving input*/
		a:active {
			color: #de8398;
		}
		
		.audio-player-container{
			display: flex;
			justify-content: center;
			padding: 20px;
			margin: 15px;

		}
		
		.playicon{
			width: 0; 
			height: 0; 
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 50px solid white;
			margin: 15px;
			transition: border 0.08s;
		}
		
		.playicon:hover {
			background: red; 
			cursor: pointer;
			border: 60px solid red;
			}
			
		.leftskip{
			margin: 25px;
			width: 0; 
			height: 0; 
			border-top: 40px solid transparent;
			border-bottom: 40px solid transparent;
			border-right: 40px solid #cfcfcf;
			transition: border 0.08s;
		}
		
		.leftskip:hover{
			cursor: pointer;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-right: 50px solid grey;
		}
		
		.rightskip{
			margin: 25px;
			width: 0; 
			height: 0; 
			border-top: 40px solid transparent;
			border-bottom: 40px solid transparent;
			border-left: 40px solid #cfcfcf;
			transition: border 0.08s;
		}

		.rightskip:hover{
			cursor: pointer;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 50px solid grey;
		}

		@keyframes bounce {
			0% { top: 0; 
				height: 1%;
			}
			50% { top: -0.5em; }
			70% { top: -1em; }
			100% { top: 0; }
		}

		.pagedollanim{
			margin-left: auto; 
			margin-right: 0;
			width: 10%;
			position: relative;
			animation: bounce 1s ease-in alternate infinite;
		}
